body {
	background-color: purple;
	background: #800080 url(img/bkg.png) repeat fixed center;
}
.container {
	background-color: white;
	box-shadow: #000 0 0 20px;
	margin: 20px auto;
	border-radius: 5px;
	/*background: #FFFFFF url(img/purple-drop.jpg) no-repeat top right;*/
}
.well p:last-child {
	margin-bottom: 0;
}
